<div class="Customer-service">
    <div class="Icon"> 
      <img class="Image" src="https://www.bing.com/th?id=OIP.o-I-KZy0OcN_-4pJH7OgSQHaC4&w=275&h=105&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"/>
      <div class="Content-Box">
          <div class="content">
          <h3 class ="Text-label sign" >Sign-In</h3>
         
          <input class ="Text-label" type="text" placeholder="Enter Email or Phone number" name="Email" onChange= {getData} ><br/>
          <input class ="Text-label" type="password" placeholder="Enter password" name="password" ><br/>

          <button class ="Text-label btn" >Sign-In</button>
         <p class="paragraph">By continuing, you agree to Amazon's </p>
         <a  class="paragraph"> Conditions of Use and Privacy Notice.</a>
         </div>
      </div>
       <h4>NEW to Amazon ?</h4>
      <button class="Create">Create Your Amazone Acount</button>
      
    </div>
</div>

