<div>
    <h1>Welcome to the Customer service page !</h1>
    <div class="Customerservice">
       <img class="customerImage" src="https://th.bing.com/th/id/OIP.g-DsxeeRVFfw4jDJpeYErgHaE7?w=240&h=180&c=7&r=0&o=5&pid=1.7"/>
       
        <div class="containers">
        <div class="container-1"> <label class="Lebal-text" >  Customer Name:</label>
            <input class="Input-box" placeholder="Enter Name" type="text"> </div>
           <div class="container-1"> <label class="Lebal-text"> Contact Number:</label>
            <input class="Input-box"  placeholder="Please Enter Contact Number" type="number"> </div>
           <div class="container-1"> <label class="Lebal-text"> Customer Email Id:</label>
            <input class="Input-box" placeholder="Enter Email id" type="text"></div>
            <div class="container-1 Button"><button class=" Button">Call me</button></div>
        </div>
    </div>
    </div> 
    
