
<ng-container *ngIf="Product.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="https://m.media-amazon.com/images/G/31/cart/empty/kettle-desaturated._CB424694257_.svg" alt="">
        <h4>Your Cart</h4>
        <h6>Add Item to It Now</h6>
        <button  routerLink="/Home" class="btn">Shop Now</button>
    </div>
</div>
</ng-container> 
<ng-container *ngIf="Product.length !=0"> 
    <div class="container">
<div class="card-table">
    <div class="cart-product">
<table class="table table-responsive">
    <thead>
        <tr>
            <th>SR.No</th>
            <th>Product Name</th>
            <th>product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Product; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td><img class="cart-Image" src="{{item.image}}" alt=""></td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td><button (click)="removeItem(item)" class="  btn-danger"><i class="fas fa-trash-alt"></i></button></td>

        </tr>
    </tbody>
</table>
    </div>
</div> 
</div>
</ng-container>
