<div class="menu-bar">
    <a routerLink="./List" activeclass="active-btn" class="links">List</a>
    <a routerLink="./Home" activeclass="active-btn" class="links">Home</a>
    <a routerLink="./Mobiles"  activeclass="active-btn" class="links">Mobiles</a>
    <a routerLink="./Electronics" activeclass="active-btn" class="links">Electronics</a>
    <a  routerLink="./Fassion" activeclass="active-btn" class="links">Fashion</a>
    <a routerLink="./home&kitchens" activeclass="active-btn" class="links">Home & Kitchen</a>
    <a routerLink="./Computers" activeclass="active-btn" class="links">Computers</a>
    <a routerLink="./CustomerService" activeclass="active-btn" class="links">Customer service</a>
    <a routerLink="./Bestsellers" activeclass="active-btn" class="links">Best Sellers</a>
  </div>
